{% extends "modern/base.html" %}    
{% block content %}    
<!-- main content -->
      <div class="row">
        <div id="main-content" class="col-md-12" >
          <div id="feature-banner" class="margin-bottom-30"> <img style="width:100%" class="img-responsive" src="http://www.stanford.edu/assets/su-images/feature/ht_quad6am.jpg" />
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h2>About Modern Template</h2>
            <p>This is a simple, modern template based on Bootstrap that is useful for a multi-page website.</p>
            <p><a class="more-link" href="https://getbootstrap.com/"><i class="fa fa-chevron-circle-right"></i> <span>Bootstrap documentation</span></a></p>
            <p>If you would like help customizing this template or making additional pages, please reach out to <a href="https://stanford-rc.github.io/rse-services/request">Research Software Engineering Services</a>.</p>
            <p><a class="more-link" href="https://stanford-rc.github.io/rse-services/request"><i class="fa fa-chevron-circle-right"></i> <span>RSE Services</span></a></p>
          </div>
          <div class="col-md-6">
            <h2>In the Spotlight</h2>
            <img src="{{ url_for('static', filename='images/cardinal/LemonsNTower1170.jpg') }}" alt="" />
            <p class="caption">This is an optional image caption.</p>
            <p>Look at the great information here!</p>
            <p>A <em>column</em> is perfect for splitting content on your page.</p>
            <p><a class="more-link" href="#"><i class="fa fa-chevron-circle-right"></i> <span>More information</span></a></p>
          </div>
        </div>

      <div class="row">
        <div id="main-content" class="col-md-12" >
          <h2 class="headline">Announcements</h2>
          <p>We have a lot going on! This is a sample area for latest news and announcements.</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="postcard-image"><img src="{{ url_for('static', filename='images/cardinal/QuadArchNPalms270.jpg') }}" alt="" /></div>
            <div class="postcard-text">
              <h3><a href="#">Example Announcement</a></h3>
              <p class="descriptor">March 21, 2014</p>
              <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean imperdiet lobortis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean vitae tortor ligula, quis laoreet ante. Phasellus in turpis ac elit consectetur viverra. Praesent nec massa vitae dui facilisis venenatis et at nisi. Proin fringilla vulputate velit, vel fermentum velit viverra nec.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="postcard-image"><img src="{{ url_for('static', filename='images/cardinal/QuadArchNPalms270.jpg') }}" alt="" /></div>
            <div class="postcard-text">
              <h3><a href="#">Example Announcement</a></h3>
              <p class="descriptor">March 1, 2014</p>
              <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean imperdiet lobortis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean vitae tortor ligula, quis laoreet ante. Phasellus in turpis ac elit consectetur viverra. Praesent nec massa vitae dui facilisis venenatis et at nisi. Proin fringilla vulputate velit, vel fermentum velit viverra nec. <a href="#">Download the document</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="postcard-image"><img src="{{ url_for('static', filename='images/cardinal/QuadArchNPalms270.jpg') }}" alt="" /></div>
            <div class="postcard-text">
              <h3><a href="#">Example Announcement</a></h3>
              <p class="descriptor">February 15, 2014</p>
              <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean imperdiet lobortis libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean vitae tortor ligula, quis laoreet ante. Phasellus in turpis ac elit consectetur viverra. Praesent nec massa vitae dui facilisis venenatis et at nisi. Proin fringilla vulputate velit, vel fermentum velit viverra nec.</p>
            </div>
          </div>
        </div>

      </div>
{% endblock %}
