       <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container">
	    <a class="navbar-brand" href="/modern">
		<h1 class="logo float-left">
		    <span class="logo-title">{{ TITLE }}</span>
		</h1></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ml-auto">
		  <form class="form-inline">
		      <a href="#"><button class="btn btn-outline-primary" 
		              style="padding: 5px 10px 3px 10px; color: #BB1702 !important; box-shadow: none; border:2px solid #BB1702 !important; margin-right:20px"
		                                              type="button">Notification Count: 10</button></a>
		  </form>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown
		</a>
		  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Dropdown">
		    <a class="dropdown-item" href="#">Browse</a>
		    <a class="dropdown-item" href="#">Tools</a>
		    <a class="dropdown-item" href="#">Search</a>
		  </div>
		 </li>
		<li class="nav-item"><a class="nav-link" href="#">About</a></li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="supportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Support
		</a>
		  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="supportDropdown">
		    <a class="dropdown-item" href="#">Contact Us</a>
		    <a class="dropdown-item" href="https://stanford-rc.github.io/gcp-flask-stanford/">User Guide</a>
		  </div>
		 </li>
		{% if current_user.is_authenticated %}<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  {{ current_user.username }}
		</a>
		  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
		    <a class="dropdown-item" href="#">Settings</a>
		    <div class="dropdown-divider"></div>
		     <a class="dropdown-item" href="/logout">Logout</a>
		  </div>
		</li>{% else %}<li class="nav-item"> <a class="nav-link" href="/modern/login">Login</a></li>{% endif %}
		<li class="nav-item last"><a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

